@import 'header';

body{
    background-color: blue;
    @include font();
    h1{
        box-shadow: 3px 3px 3px rgba(0,0,0,.5);
        background-color: red;
        color: white;
    }
    div{
        display: flex;
        justify-content: flex-start;
        background-color: tomato;
        color: black;
        &:hover{
            background-color: white;
            color: black;
        }
    }
}