@import 'header';

body{
    background-color: white;
    @include font();
    h1{
        box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
        color: black;
    }
    div{
        color: black;
        &:hover{
            color: black;
        }
    }
}